<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="room">
        <div class="room_item">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入房间号" id="room_input">
                <span class="input-group-addon" id="room_span">加入房间</span>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('room_span').onclick = function() {
            window.location.href = '/room/' + document.getElementById('room_input').value
        }
    </script>
</body>
</html>